body{
    background-color: #cccccc;
    margin: 2em;
}

h1{
    background-color: #ffffff;
    color: black;
    padding: 1em;
}

p{
    background-color: #ffffff;
    color: black;
    padding: 1em;
}